@font-face {
  font-family: 'Cabrito Sans Norm';
  src: url('CabritoSans-NorBol.woff2') format('woff2'),
      url('CabritoSans-NorBol.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cabrito Sans Norm';
  src: url('CabritoSans-NorLig.woff2') format('woff2'),
      url('CabritoSans-NorLig.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cabrito Sans Norm';
  src: url('CabritoSans-NorMed.woff2') format('woff2'),
      url('CabritoSans-NorMed.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cabrito Sans Norm';
  src: url('CabritoSans-NorReg.woff2') format('woff2'),
      url('CabritoSans-NorReg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cabrito Sans Norm';
  src: url('CabritoSans-NorThi.woff2') format('woff2'),
      url('CabritoSans-NorThi.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}