<div class="gantt">
  <span class="d-1"></span>
  <span class="d-2"></span>
  <span class="d-3"></span>
  <span class="d-4"></span>
  <span class="d-5"></span>
  <span class="d-6"></span>
 
  <h3 class="h-sun">sun</h3>
  <h3 class="h-mon">mon</h3>
  <h3 class="h-tue">tue</h3>
  <h3 class="h-wed">wed</h3>
  <h3 class="h-thu">thu</h3>
  <h3 class="h-fri">fri</h3>
  <h3 class="h-sat">sat</h3>

  <div class="t-1" style="grid-column: 1 / span 4;">Take the badger for a walk</div>
  <div class="t-2" style="grid-column: 4 / span 12;">Manufacture some cheese</div>
  <div class="t-3" style="grid-column: 1 / span 5;">Prepare talk on foot hygiene</div>
  <div class="t-4" style="grid-column: 6 / span 3;">Sleep</div>
  <div class="t-5" style="grid-column: 3 / span 3;">Photograph breakfast</div>
  <div class="t-6" style="grid-column: 4 / span 6;">Paint the inside of the refrigerator</div>
  <div class="t-7" style="grid-column: 6 / span 9;">Sail to Madagascar</div>
  <div class="t-8" style="grid-column: 8 / span 1;">Sleep</div>
  <div class="t-9" style="grid-column: 10 / span 5;">Plan the following week’s tasks</div>
   
</div>