<div class="content-fluid">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <div class="page-wrapper">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <div class="d-flex justify-content-center footer-left">
      <span class="text-footer">About</span>
      <span class="text-footer">Accessibility</span>
      <span class="text-footer">Help Center</span>
      <span class="text-footer">Impressum</span>
      <span class="text-footer">Get Minty Mint app</span>
      <span class="text-footer">More</span>
    </div>
    <div class="d-flex justify-content-center">
      <span class="text-green text-brand-green">MINTY MINT</span>
      <span class="text-brand">&#169; 2020</span>
    </div>    
  </footer>
</div>